.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  &-lg {
    font-size: calc(1.475rem + 2.7vw);
  }
}

@media (min-width: 1200px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn.btn-primary:hover {
  background: #fff;
  //color: #0d6efd;
  color: var(--bs-primary);
}

.icon-subway {
  margin-top: -0.1rem;
  margin-right: -0.5rem;
}

a {
  &.icon {
    color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  .btn.btn-primary:hover {
    background: var(--bs-primary-bg-subtle);
    //color: #0d6efd;
    color: var(--bs-primary);
  }
}

.sticky-top {
  background: var(--bs-body-bg);
}

.time {
  &-title {
    width: 6rem;
  }
  &-start {
    width: 3rem;
    text-align: end;
  }
}

.menu {
  &-title {
    width: 10rem;
  }
  &-temp {
    width: 5rem;
  }
}

.bg {
  &-hot {
    background-color: var(--bs-orange) !important;
  }
  &-ice {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-dark);
  }
}
