.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bd-placeholder-img-lg {
  font-size: calc(1.475rem + 2.7vw);
}

@media (min-width: 1200px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn.btn-primary:hover {
  background: #fff;
  color: #0d6efd;
}

.chuo-line {
  background: #00a53c;
  color: #fff;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: -0.3rem;
  font-size: 0.8rem;
}
